@import "@flaticon/flaticon-uicons/css/all/all.css";
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-xs: 30rem;
}

:root {
  --background-main: #070606;
  --foreground: #776b6b;
}

@keyframes running-dot {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

.background-main {
  background-color: var(--background-main);
}

.animate-running-dot {
  animation: running-dot 4s linear infinite;
}

.container-marque {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  overflow-x: hidden;
  width: 80%;
  margin: 0 auto;
}

.marquee {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  min-width: min-content;
}

.first-marquee {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  min-width: min-content;
}
